/* MESSAGES AND ERRORS */
.alert {
  padding: 8px;
}

.error,.message {
  font-size: 1.0em;
  font-weight: bolder;
  line-height: 1.5;
  margin: 1em 2em;
  padding: 0.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.message {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  -moz-box-shadow: 0 0 0.25em #b2d1ff;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
  box-shadow: 0 0 0.25em #b2d1ff;
  padding: 0;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
  box-shadow: 0 0 0.25em #b2d1ff;
}

.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -moz-box-shadow: 0 0 0.25em #ff8888;
  -webkit-box-shadow: 0 0 0.25em #ff8888;
  box-shadow: 0 0 0.25em #ff8888;
  -webkit-box-shadow: 0 0 0.25em #ff8888;
  box-shadow: 0 0 0.25em #ff8888;
  margin-bottom: 15px;
}

.error ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* 
 * login page 
 */
.login-body {
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.075);
  margin: auto;
}

.form-login .form-login-header{
  background-color: #3276b1;
  color: #ffffff;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  border: 1px solid #3276b3;
  border-radius: 4px 4px 0 0;
}

.form-login-header h1 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-login .form-login-body {
  padding: 20px;
  border: 1px solid #d8dee2;
  border-top-color: #eee;
  border-radius: 0 0 4px 4px;
  background-color: #eee;
}

.form-login-body .login-btn,
.form-login-body .form-control {
    margin-bottom: 15px;
    margin-top: 5px;
}

.form-login-body .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.login-btn {
  background-color: #dddddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.validation-error-message {
  color: #a94442;
  margin-top: 10px;
  width: 150px;
  line-height: 2.5;
}

.form-group-forgot {
  margin-bottom: 0px;
}

.label-forgot-email {
  margin: 10px 15px;
  padding-bottom: 10px;
}

.label-password{
  width: 215px;
  font-size: 11px;
  margin: 5px 0px 0px 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

/*
 * main page 
 */
body {
  padding-top: 50px;
}

.navbar {
  max-height: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.profile-img {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-left: 15px;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
