<div class="login-body">
	<form class="form-login" role="form">
		<div class="form-login-header">
			<h1>Sign in</h1>
		</div> 

		<div class="form-login-body">
			<label>Email</label>
			<input type="email" class="form-control" placeholder="Email address" required autofocus>
			<label>Password</label><a ng-click="openForgotPasswordModal()" href=""> (forgot password?)</a>
			<input type="password" class="form-control" placeholder="Password" required>
			
			<a class="btn btn-default login-btn" href="#/main">Sign in</a>&nbsp;Or&nbsp;
			<a ng-click="openCreateAccountModal()" href="">Create an account</a>
		</div>
	</form>
</div> <!-- /container -->

<!-- create new account modal -->
<script type="text/ng-template" id="createAccount.html">
	<div class="modal-header">
		<h3 class="modal-title">Creat your account</h3>
	</div>

	<form class="form-horizontal" role="form" name="registerForm">
		<div class="modal-body">
			<ul class="errors">
				<li ng-repeat="error in errors">
					{{error}}
				</li>
			</ul>

			<!-- Email -->
			<div class="form-group">
				<label for="inputEmail" class="col-sm-4 control-label">Email</label>
				<div class="col-sm-5">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>

			<!-- First Name -->
			<div class="form-group">
				<label for="inputFirstName" class="col-sm-4 control-label">First Name</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
				</div>
			</div>

			<!-- Last Name -->
			<div class="form-group">
				<label for="inputLastName" class="col-sm-4 control-label">Last Name</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
				</div>
			</div>

			<!-- Password -->
			<div class="form-group">
				<label for="inputPassword" class="col-sm-4 control-label">Password</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>

			<!-- Confirm Password -->
			<div class="form-group">
				<label for="inputConfirmPassword" class="col-sm-4 control-label">Confirm Password</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
					<button class="btn btn-primary" ng-click="create()">Create</button>
					<button class="btn btn-default" ng-click="cancelCreate()">Cancel</button>
			</div>
		</div>
	</form>
</script>

<!-- forgot password modal -->
<script type="text/ng-template" id="forgotPassword.html">
	<div class="modal-header">
		<h3 class="modal-title">Find your password</h3>
	</div>

	<form class="form-horizontal" role="form" name="registerForm">
		<div class="modal-body">
			<!-- Email -->
			<div class="form-group">
				<div class="col-sm-8">
					<label for="forgotPasswordEmail" class="control-label">Your Email</label>
					<input type="email" class="form-control" id="forgotPasswordEmail" placeholder="Please type your Email address...">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
					<button class="btn btn-primary" ng-click="sendEmail()">Send</button>
					<button class="btn btn-default" ng-click="cancelSend()">Cancel</button>
			</div>
		</div>
	</form>
</script>