<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Time Sheets</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/main">Dashboard</a></li>
        <li><a href="#/settings">Settings</a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/help">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/main">Overview</a></li>
        <li><a href="#/reports">Reports</a></li>
        <li><a href="#/analytics">Analytics</a></li>
        <li><a href="#/export">Export</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">title</h2>

      <div class="gridStyle" ng-grid="gridOptions">
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Day</th>
              <th>Customer</th>
              <th>Project</th>
              <th>Hour</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Monday</th>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
            </tr>
            <tr>
              <th>Tuesday</th>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
            </tr>
            <tr>
              <th>Wensday</th>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
            </tr>
            <tr>
              <th>Thursday</th>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
            </tr>
            <tr>
              <th>Friday</th>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>