<h2 class="sub-header">Overview</h2>

<div>
  <h4>Add Sheet</h4>
  <form class="form-inline form-new-sheet" role="form" name="addSheetForm" ng-submit="addSheet()" novalidate>
    <!-- Day -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetDay" name="addsheetDay" id="addsheetDay" 
          ng-options="d for d in days" required>
          <option value="">-- choose day --</option>
        </select>
      </div>
    </div>

    <!-- Customer -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetCustomer" 
          name="addsheetCustomer" id="addsheetCustomer"
          ng-options="c.name for c in customers" required>
          <option value="">-- choose customer --</option>
        </select>
      </div>
    </div>

    <!-- Project -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetProject" 
          name="addsheetProject" id="addsheetProject"
          ng-options="p.Name for p in addsheetCustomer.projects" required>
          <option value="">-- choose project --</option>
        </select>
      </div>
    </div>

    <!-- Hour -->
    <div class="form-group"
      ng-class="{'has-error':addSheetForm.inputHour.$invalid && addSheetForm.inputHour.$dirty}">
      <div>
        <input type="number" class="form-control" id="addsheetHour" name="inputHour" 
         placeholder="Hour" ng-model="addsheetHour" min="0" max="8" step="0.5" required>
        <span class="form-label">&nbsp;(0-8)</span>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" 
        ng-disabled="addSheetForm.$invalid || addSheetForm.$pristine">Add
      </button>
    </div>
  </form>
</div>


<div class="table-responsive">
  <h4>Time Sheet For This Week</h4>
  <table class="table table-bordered table-hover table-condensed table-timesheets">
    <tr>
      <th width="20%"></th>
      <th>Customer</th>
      <th>Project</th>
      <th>Hour</th>
      <th>Edit</th>
    </tr>

    <!-- Monday task list -->
    <tr>
      <th rowspan='{{mondays.length + 1}}'>{{ days[0] }}</th>
    </tr>

    <tr ng-repeat = "sheet in mondays">
      <td>
        <span editable-select="sheet.customerId" e-ng-options="c.id as c.name for c in customers" e-name="customer" e-form="rowform">
          {{ showCustomers(sheet) }}
        </span>
      </td>

      <td>
        <span ng-model="project" editable-select="sheet.projectId" e-ng-options="p.id as p.name for p in projects" e-form="rowform">
          {{ showProjects(sheet) }}
        </span>
      </td>

      <td>
        <span editable-number="sheet.hour" e-form="rowform" e-required 
          e-min="0" e-max="8" e-step="0.5">
          {{ sheet.hour || 'empty'}}
        </span>
      </td>

      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" ng-show="rowform.$visible">
          <button class="btn btn-primary" type="submit" ng-disabled="rowform.$waiting || rowform.$invalid">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          <button class="btn btn-default" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
          <button class="btn btn-danger" ng-click="removeUser($index)">Delete</button>
        </div>  
      </td>
    </tr>

  </table>
</div>