<h2 class="sub-header">Overview</h2>

<div>
  <h4>Add Sheet</h4>
  <form class="form-inline form-new-sheet" role="form" name="addSheetForm" ng-submit="addSheet()" novalidate>
    <!-- Day -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetDay" name="addsheetDay" id="addsheetDay" 
          ng-options="d for d in days" required>
          <option value="">-- choose day --</option>
        </select>
      </div>
    </div>

    <!-- Customer -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetCustomer" 
          name="addsheetCustomer" id="addsheetCustomer"
          ng-options="c.name for c in customers" required>
          <option value="">-- choose customer --</option>
        </select>
      </div>
    </div>

    <!-- Project -->
    <div class="form-group">
      <div>
        <select class="form-control" ng-model="addsheetProject" 
          name="addsheetProject" id="addsheetProject"
          ng-options="p.Name for p in addsheetCustomer.projects" required>
          <option value="">-- choose project --</option>
        </select>
      </div>
    </div>

    <!-- Hour -->
    <div class="form-group"
      ng-class="{'has-error':addSheetForm.inputHour.$invalid && addSheetForm.inputHour.$dirty}">
      <div>
        <input type="number" class="form-control" id="addsheetHour" name="inputHour" 
         placeholder="Hour" ng-model="addsheetHour" min="0" max="8" step="0.5" required>
        <span class="form-label">&nbsp;(0-8)</span>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" 
        ng-disabled="addSheetForm.$invalid || addSheetForm.$pristine">Add
      </button>
    </div>
  </form>
</div>


<div class="table-responsive">
  <h4>Time Sheet For This Week</h4>
  <table class="table table-bordered table-hover table-condensed table-timesheets">
    <tr>
      <th width="20%"></th>
      <th width="25%">Customer</th>
      <th width="25%">Project</th>
      <th width="10%">Hour</th>
      <th width="20%">Edit</th>
    </tr>

    <!-- Monday task list -->
    <tr>
      <th rowspan='{{mondays.length + 1}}'>{{ days[0] }}</th>
    </tr>

    <tr ng-repeat = "sheet in mondays">
      <td>
        <div id="displayMondayCustomer{{$index}}">{{sheet.customer}}</div>
        <div id="editMondayCustomer{{$index}}" style="display:none;">
          <select class="form-control" ng-model="mondayCustomer" 
            ng-init = "mondayCustomer = findCustomer(sheet.customerId)"
            ng-options="c.name for c in customers" 
            ng-change="onChangeCustomer(sheet, mondayCustomer)" required>
          </select>
        </div>
      </td>

      <td>
        <div id="displayMondayProject{{$index}}">{{sheet.project}}</div>
        <div id="editMondayProject{{$index}}" style="display:none;">
          <select class="form-control" ng-model="mondayProject"
            ng-init = "mondayProject = findProject(sheet.customerId, sheet.projectId)"
            ng-options="p.Name for p in findCustomer(sheet.customerId).projects" required>
          </select>
        </div>
      </td>

      <td>
        <div id="displayMondayHour{{$index}}">{{sheet.hour}}</div>
        <div id="editMondayHour{{$index}}" style="display:none;">
          <input type="number" class="form-control" 
            placeholder="Hour" min="0" max="8" step="0.5" value="{{sheet.hour}}" required />
        </div>
      </td>

      <td style="white-space: nowrap">
        <div class="buttons" id="displayMondayButtons{{$index}}">
          <button class="btn btn-primary" ng-click="editModel(sheet.day, $index)">Edit</button>
          <button class="btn btn-danger" ng-click="removeSheet('mondays', sheet)">Delete</button>
        </div>  
        <div class="buttons" style="display:none;" id="editMondayButtons{{$index}}">
          <button class="btn btn-primary" type="submit" 
            ng-disabled="mondayProject.$invalid">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          <button class="btn btn-default" type="button" ng-click="displayModel(sheet.day, $index)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </td>
    </tr>

  </table>
</div>